*{
    padding: 0;
    margin: 0;
}

main {
  background-image: url(lodka.jpg);
  background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  width: 60%;

  height:100vh;
  padding: 0;
  margin: 0;
float: left;
}
section
{
padding: 20px;

  float: left;
}
