
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Shade|Poiret+One&display=swap&subset=latin-ext');
*{
    padding: 0;
    margin: 0;
font-family: 'Poiret One', cursive;
}
body
{

}
section
{
    background-image: url(lud.jpg);
    background-size: cover;
  background-position:-320px;
    height: 100vh;
    width: 50vw;
    position: fixed;
}
.icon
{
  position: absolute;
  top:20px;
  width: 90px;
  height:90px;
  z-index: 1;
  position: fixed;
}
#wyloguj
{

  left: 100px;
}
.icon img
{
  width: 100%;
  height: 100%;
}
#back
{
  left: 100px;
  top: 150px;
}

main
{
  position: absolute;
right: 0px;
display: flex;
flex-wrap: wrap;
flex-direction: column;

}
#jezyk
{
  flex-direction: row;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
#obrazek
{

position: absolute;
top:50%;
left: 50%;
transform: translateX(-50%) translateY(-50%) ;
width: 300px;
height: 300px;
}

main div
{

  background-color: #E6E3FF;
  color: black;
  width: 50vw;
  height: 50vh;
/* border:5px solid red; */
/* box-sizing: border-box; */
}
main div:nth-child(even)
{
  background-color: #CCCDE8;
}
#jezyk div
{
  width: 50vw;
  height: 50vh;


}
#zestawy div:hover , #jezyk div:hover
{
  background-color: #400207;
  color: white;
}
main div p
{

  font-size: 80px;
   text-align: center;
   padding-top: 15%;
}

#fiszka
{
background-image: url("ludblur.jpg");
width: 100vw;
height: 100vh;
background-position: 0px;
position: static;
}
#fiszka main
{
width: 100%;
height: 100%;

}
#fiszka main img
{
  width: 100%;
  height: 100%;
}
#fiszka main p
{
  font-size: 100px;
}
#fiszka main  #nazwa
{
  position: absolute;
  top: 50%;
  left: 50%;
transform: translateX(-50%) translateY(-50%) ;
flex: none;
z-index: 2;

}
#fiszka main #tlumaczenie
{
  position: absolute;
  top: 50%;
  left: 50%;
transform: translateX(-50%) translateY(-50%) ;
flex: none;
z-index: 1;

}
#nastepne
{
position: absolute;
top:45%;
left: 15%;

  width: 100px;
  background-color:transparent;
 height: 100px;
}
#poprzednie
{
   height: 100px;
  width: 100px;
  position: absolute;
  top:45%;
right: 15%;
background-color: transparent;

}
#ranking
{
background-image: url("ludblur.jpg");
width: 100vw;
height: 100vh;
background-position: 0px;
position: static;

}
#ranking main #title
{

margin-right: 40vh;
height: 25vh;
}
#ranking main #title p
{
  padding: 5vh;
}
#jezyk2 div a, #zestawy div a
{
  display:block;
   width:100%;
     height: 100%;
     color: inherit;
     text-decoration:none;
}
#dod
{
  background-image: url("ludblurBIG.jpg");
  background-attachment: fixed;
  width: 100vw;
height: auto;
  background-position: 0px;
  position: static;

}

#dodawanie
{

  width: 70vw;
color: white;
  margin:  auto;
  position:relative;
  /* top: 50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%); */

}
.linia
{
  height: auto;
}
#dodawanie form
{
  font-size: 30px;
  margin-top: 20px;
  width: 100%;



}

#zaloguj
{

  width: 10px;
  padding: 10px;
  margin-top: 40vh;
  font-size: 80px;

}
#dodawanie h1{
 font-size: 80px;
}
#dodawanie p
{
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 30px;


}
#dodawanie ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
}
#user
{

  width: 40vw;
color: white;
  margin:  auto;
  position:relative;

}

#user form
{
  font-size: 30px;
  margin-top: 10px;
  width: 100%;



}

#zaloguj
{

  width: 10px;
  padding: 10px;
  margin-top: 40vh;
  font-size: 80px;

}
#user h1{
 font-size: 80px;
}
#user p
{
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
color: white;

}
#user ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1;
}
#user div
{
  height: auto;
}
#rola
{
  color: white;
  width:50%;
  float: left;
  background-color: inherit;
}
#rola input , #klasa input
{  border: none;
color: black;
margin-right: 10px;
width: auto;

}
#rola p, #klasa p
{
  text-align: inherit;
}
#klasa
{   color: white;
  background-color: inherit;
  width: 50%;
  float: left;
}
#srodek
{

    margin: auto;
    display: block;
margin-bottom: 30px;
}
body, html
{
width: 100%;
height: 100%;

}


section input
{
      border: none;
      border-bottom: 1px solid red;
      background: transparent;
      outline: none;
      color: black;
      font-size: 30px;
      padding: 10px;
      margin-bottom: 30px;
      width: 100%;
}
.pojecie
{
  width: 30%;
  margin-right: 20px;

}
.add
{
  width: 100%;
  background-color:inherit;

}
.add button
{
  border: none;
  outline: none;
  height: 60px;
  background: #1c8adb;
  color: #fff;
  font-size: 30px;
  width: 130px;
  border-radius: 20px;
display: block;
  font-weight: bold;
  margin: auto;
}
.linia
{
  background-color:inherit !important;
width: 80%;
margin: auto;
}
section input[type="submit"]
{
    border: none;
    outline: none;
    height: 70px;
    background: #1c8adb;
    color: #fff;
    font-size: 40px;
    width: 150px;
    border-radius: 20px;
    margin: 40px;
    font-weight: bold;


}
#przyciskdodaj
{
  margin: auto;
}
#usertab table
{
  border: 7px solid black;
  font-size: 30px;
  width: 100%;
  border-radius: 40px;
  text-align: center;
border-spacing: 0;
}

#usertab table th
{  border-bottom: 5px solid black;
padding: 20px;

}
#usertab table td
{ border-bottom: 2px solid black;
padding: 20px;
}
table tr:last-child td{
border:0 !important;
}


#usertab
{

  width: 60vw;
color: white;
  margin:  auto;
  position:relative;

}




#usertab h1{
 font-size: 80px;
}
#usertab p
{
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
color: white;
margin: auto;
display: block;


}

@media (max-width: 1000px)
{

}
