
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Shade|Poiret+One&display=swap&subset=latin-ext');
*{
    padding: 0;
    margin: 0;
font-family: 'Poiret One', cursive;
}
body{

  background-image: url(lud.jpg);


}
main
{
  display: flex;
flex-wrap: wrap;
  width: 100%;



}
main div
{
    padding:20px;
    margin: 50px;
  background-color: red;
  width: 200px;
  height: 200px;

}
@media (max-width: 1000px)
{

}
